<div class="page--newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-offset-3">

                <form class="form-horizontal" name="newsletterForm" novalidate>
                    <div class="form-group">
                        <label for="firstname" class="control-label">First name</label>
                        <input type="text" class="form-control" id="firstname" ng-model="newsletter.user.firstname" placeholder="Jane">
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="control-label">Last name</label>
                        <input type="text" class="form-control" id="lastname" ng-model="newsletter.user.lastname" placeholder="Doe">
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <input type="email" class="form-control" id="email" ng-model="newsletter.user.email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="phonenumber" class="control-label">Phone number</label>
                        <input type="text" class="form-control" id="phonenumber" ng-model="newsletter.user.phonenumber" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-click="newsletter.submit()" ng-disabled="newsletterForm.$invalid" class="btn btn-default">Sign in</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>