<div class="table-responsive" ng-show="foundItems.length > 0">
  <table class="table table-bordered table-striped">
    <thead>
       <tr>
        <th>#</th>
        <th>name</th>
        <th>description</th>
        <th>Action</th>
       </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in foundItems">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td> 
        <td>{{item.description}}</td>
        <td><button ng-click="onRemove({index:$index})" class="btn btn-danger">Don't want this one!</button></td>
      </tr>
    </tbody>
  </table>
</div>